<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TimeManager</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app-css/app.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bower-angularjs/angular.min.js"></script>
  <script src="bower_components/bower-angularjs/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="app-controllers/tasksController.js"></script>
  <script src="app-controllers/categoriesController.js"></script>
  <script src="app-controllers/prioritiesController.js"></script>
  <script src="app-controllers/tabsController.js"></script>
  <script src="app-services/settingsService.js"></script>
  <script src="app-services/tasksService.js"></script>
</head>

<body data-ng-app="testApp">

<header>
  <div class="container">
    <div class="row">
      <nav class="navigation" ng-controller="TabController as tab">
        <!-- <a href="#/login"ng-class="{active:tab.isSet(1)}" ng-click="tab.setTab(1)"> Login </a> -->
        <a href="#/tasks" ng-class="{active:tab.isSet(1)}" ng-click="tab.setTab(1)"> Tasks </a>
        <a href="#/categories" ng-class="{active:tab.isSet(2)}" ng-click="tab.setTab(2)"> Category </a>
        <a href="#/priority" ng-class="{active:tab.isSet(3)}" ng-click="tab.setTab(3)"> Priority </a>
      </nav>
    </div>
  </div>
</header>

    <!-- routing area -->
    <div ng-view></div>
    <!-- routing area -->
  
</body>

</html>
