<!-- this part for priority-->
<section class="categories" ng-controller="PriorityController">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 priority-wrap">
				<h2>Priority</h2>
				<div class="priority-list">
					<div ng-repeat="priority in priorities" class="priority-content"> 
						<span>{{priority.name}}</span>
						<button class="btn btn-danger glyphicon glyphicon-remove delete-category" ng-click="deletePriority(priority)"></button>
					</div>
					<form class="add-category">
						<input type="text" ng-model="formPriorityName" required="required" ng-required="true" ng-minlength="1">
						<button class="add-btn btn" ng-click="addPriority()">add</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>